{% extends "./base.html" %} {% block title %}WTF{% endblock %} {% block content %} {% load static %}

<div class="row">
    <h1 class="wtf-title">My life&rsquo;s most important KPI is &lsquo;WTFs per day&rsquo;.</h1>

    <p class="wtf-date">
        {% now "F jS, Y" %}
    </p>
    <p class="wtf-count">
        {{ wtfs.count }}
    </p>
    <p class="wtf-unit">
        WTF{% if wtfs.count != 1 %}s{% endif %}
    </p>
</div>

<div class="row">
    <h2 class="wtf-today">&#x1F4A9; Today&rsquo;s WTFs &#x1F4A9;</h2>

    <ul>
        {% for wtf in wtfs %}
        <li>
            {{ wtf.content }}
        </li>
        {% endfor%}
    </ul>
</div>


{% endblock %}
