{% extends "./base.html" %} {% block title %}WTF{% endblock %} {% block content %} {% load static %}

<h3>My life&rsquo;s most important KPI is &lsquo;WTFs per day&rsquo;.</h3>

<p class="wtf-date">
    {% now "F jS, Y" %}
</p>
<p class="wtf-count">
    {{ wtfs.count }}
</p>
<p class="wtf-unit">
    WTF{% if wtfs.count != 1 %}s{% endif %}
</p>

<h5>Today&rsquo;s WTFs</h5>

<ul>
    {% for wtf in wtfs %}
        <li>
            {{ wtf.content }} (<a href="/wtf/{{ wtf.short }}">link</a>)
        </li>
    {% endfor%}
</ul>

{% endblock %}
