.wtf-date {
    margin: auto;
    text-align: center;
    font-style: italic;
}

.wtf-count {
    margin: auto;
    text-align: center;
    font-size:100px;
}

.wtf-unit {
    margin: auto;
    text-align: center;
}
